extends layout

block headtags
	link(rel='stylesheet', href='/stylesheets/index.css')

block content
	div(id="experence", class="col-sm-8 col-md-4 col-md-offset-3")
		div(class='title')= "Experence"
		div(id='experence_information')
			- for (var i in config.experence)
				if (config.experence[i].text != "" && config.experence[i].text)
					div(class="sub_title")= config.experence[i].title
					div(class="text")= config.experence[i].text

	div(id="about_me", class="col-sm-4 col-md-2")
		div(class='title')= "About Me"
		
		if (config.profile_icon != '')
			div(id="profile_picture" style='background-image: url(uploads/' + config.profile_icon + ");")
	
		if (config.about_me != '')
			div(id="about_me_text")= config.about_me
		
		if (config.resume != '')
			div(id="resume")
				a(class="btn btn-default" href="uploads/" + config.resume)= "Download Resume"
		
		if (config.email != '')
			div(id="email", class="contact_option")
				div(class="icon")
					span(class="glyphicon glyphicon-envelope", style="font-size: 32px;")

				a(class="contact_link", href="mailto:" + config.email)= config.email

		if (config.github != '')
			div(id="github", class="contact_option")
				div(class="icon")
					img(src="images/GitHub-Mark-32px.png")

				a(class="contact_link", href=config.github)= config.github
		
		if (config.phone_number != '')
			div(id="mobile", class="contact_option")
				div(class="icon")
					span(class="glyphicon glyphicon-earphone", style="font-size: 32px;")

				p= config.phone_number
	

	- if (projects.length !== 0)
		div(id="fetured_projects", class="col-sm-12 col-md-6 col-md-offset-3")
			div(class='title')= "Fetured Projects"

			- for (var p in projects)
				div(class="project col-sm-12")
					if (projects[p].thumbnail != null)
						div(class="project_image thumbnail")
							img(src="images/" + projects[p].thumbnail)

					div(class="project_details" + (projects[p].thumbnail != null ? "col-sm-8 col-md-6" : ""))
						div(class="project_information")
							div(class="project_title_name")= projects[p].name
							div(class="project_title_desc")= projects[p].description

						div(class="project_buttons")
							if (projects[p].weblocation != "")
								a(class="btn btn-info", href=projects[p].weblocation)= "View"
							if (projects[p].sourcelocation != "")
								a(class="btn btn-info", href=projects[p].sourcelocation)= "Source"

							if loggedIn
								a(class="btn btn-warning", href=("/projects/edit/" + projects[p].id))= "Edit Project"
								a(class="btn btn-danger", href=("/projects/delete/" + projects[p].id))= "Delete Project"

