doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src='/javascripts/jquery-1.11.2.min.js')
		script(src='/javascripts/bootstrap.min.js')

		script
			| $(document).ready(function () {
			| 	$('.dropdown-toggle').dropdown();
			| });

		block headtags
	body
		div(id="header", class="navbar navbar-default")
			div(class="container")
				div(class="navbar-header")
					div(class="navbar-brand", href="/")= 'Folio'

				div(class="collapse navbar-collapse")
					ul(class="navbar-left nav navbar-nav")
						li(class=(title === "Home") ? "active" : "")
							a(href="/")= "Home"

						li(class=(title === "Projects") ? "active" : "")
							a(href="/projects")= "Projects"

					ul(class="navbar-right nav navbar-nav")
						if loggedIn
							li
								a(href="/logout")= "Logout"
							
							li(class="dropdown")
								a(id="edit_menu", href="#", class="dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", roll="button", aria-expanded="false")= "Edit "
									span(class="caret")

								ul(class="dropdown-menu", roll="menu", aria-labelledby="edit_menu")
									li(roll="presentation")
										a(href="/projects/new", roll="menuitem", tabindex="-1")= "Add Project"
										a(href="/update", roll="menuitem", tabindex="-1")= "Update Details"
						else
							li(class=(title === "Login") ? 'active' : '')
								a(href="/login")= "Login"

		if (config.banner_image != '')
			div(id="image", style='background-image: url(uploads/' + config.banner_image + ');')
				div(id="header_image_text")
					div(id="name")= (config.name != '' ? config.name : "Your Name")
					div(id="desc")= (config.description != '' ? config.description : "Description About You")

		block content
