extends layout

block headtags
	link(rel='stylesheet', href='/stylesheets/projects.css')

block content
	div(class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4")
		div(class="title")= "Projects"
		- for (var p in projects)
			div(class="project")
				if (projects[p].thumbnail != null)
					div(class="project_image thumbnail")
						img(src="uploads/" + projects[p].thumbnail)

				div(class="project_details" + (projects[p].thumbnail != null ? "col-sm-8 col-md-6" : "") style=(isMobile == true ? "clear:both;" : ""))
					div(class="project_information")
						div(class="project_title_name")= projects[p].name
						- if (projects[p].fetured == 1)
							span(class='label label-info')= "Fetured"
						div(class="project_title_desc")= projects[p].description

					div(class="project_buttons")
						if (projects[p].weblocation != "")
							a(class="btn btn-info", href=projects[p].weblocation)= "View"
						if (projects[p].sourcelocation != "")
							a(class="btn btn-info", href=projects[p].sourcelocation)= "Source"

						if loggedIn
							a(class="btn btn-warning", href=("/projects/edit/" + projects[p].id))= "Edit Project"
							a(class="btn btn-danger", href=("/projects/delete/" + projects[p].id))= "Delete Project"

